/* .app{
  margin: 5vh;
}

#header{
  display: inline-block;
  color: dodgerblue;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

#logo{

  width: 170px;
  height: 50px;
  margin-right: 15vw;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: dodgerblue;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: rgb(218, 198, 198);
}

#bonusAd{
  color:black;
  margin-left: 10vh;
  margin-right: 50vh;
} */
.app{
  /* margin: 5vh; */
}

#header{
  color: black;
  /* font-weight: bolder; */
  /* margin-bottom: 1px; */
}

/* #title {
  font-weight: bolder;
  font-size:180%;
}

#logo {
  margin-left: 20vh;
  height: 50px;
  width: 100px;
  padding: initial;
  position: absolute;

} */

#verify-section{
    margin-top: 7%;
}
#login-form{
  margin-top: 5%;
  margin-left: 32vw;
  /* color: aliceblue; */
  color: white;
}

#login-button{
  background-color: black !important;
}

#login-toggle{
    margin-left: 7vw;
}
.login-signup-toggle{ 
  /* text-align: center; */ 
    opacity: 50%;
    color:white;
    background-color: rgba(57, 76, 94, 0.15)
}

#signup-form{
  margin-top: 5%;
  margin-left: 32vw;
  color: aliceblue;
}

#welcome-section{
  border: solid 1px;
  padding: 1%;
  margin-bottom: 0.5%;
  margin-top: 1%;
}

#savingSection{
  padding: 1%;
  border: solid 1px;
  /* margin-top:h; */
}
.modals.dimmer .ui.scrolling.modal {
  margin: 11rem auto !important;
  margin-left: 20vw !important;
  /* height: 30% !important; */
}


/* transactions buttons  */
.ui.black.button {
  -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  padding: 1vh !important; 
  font-weight: bolder !important;
}


.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
  position: relative;
  padding-left: 4.07142857em!important;
  padding-right: 1.5em!important;
  background-color: black !important;
  color: white !important;
  
}

/* Chart.js  */
/* #bar {
  display: block;
  height: 40vh;
  width: auto;
} */


/* Clock  */
#news-card{
  height: 10% !important;
  margin-bottom: 5vh !important;
  /* border-radius: 12%; */
  /* border: 1px solid; */
  padding: 5% !important; 
  /* box-shadow: 5px 10px black; */
}

.app{
  /* margin: 5vh; */
  /* background-color: black; */
}

#checkingTransContainer{
        height: 70vh;
        overflow-y: scroll;
        margin-top: 2%;
       
  }

#amount{
    
}

#secondlogo{
  height: 80px;
  width: 20px;
  position: absolute;
  margin-left: 65vh;
}

#labels{
  position: fixed;
}

#singleCheckingTrans{
  border: solid 1px ;
  background-color: #F0FFFF;
  padding: 1%;
}

#checkingSection{
  border: solid 1px;
  padding: 1%;
  margin-top: 2vh;
  margin-bottom: -3.3vh;
}

#home-wrapper{
      /* background: url('./Components/mod5backgroundImgs/photo-1487715433499-93acdc0bd7c3.jpeg'); */
      background-repeat: no-repeat;
      background-size:cover;

}

#newsCardContainer{
  
    margin-top: 35%;
    background-image: url('https://images.unsplash.com/photo-1553387789-2b36a3f5de14?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-size: 100%; 
}

#instant-transfer{
    /* margin-top: 5%; */
    margin-top: -2vh;
    margin-bottom: -2.7vh;
    background-color:blanchedalmond;
    background-image: url('https://media.istockphoto.com/photos/texture-dark-concrete-floor-picture-id621925576?k=6&m=621925576&s=612x612&w=0&h=H4rph08J2vSJz_crupTLvHf5OKW0olvoRJzaAK37Yhg=');
    background-repeat: no-repeat;
    background-size: cover;
  
}
#instant-transfer-header{
    font-size: bolder;
    text-align: center;
    color: white;
    /* margin-top: 5%; */
    margin: 5%;
}
#mainFooter{
  /* position: fixed; */
}

#home-wrapper{
  background-image: url('https://www.itl.cat/pngfile/big/0-7755_nature-pier-bridge-d-river-water-sunset-night.jpg');
  background-size: 100%;
  background-repeat: 1;
  opacity: 85%;
}

#title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 230%;
  font-weight: bolder;
  margin-right: 43%;
  text-align: center;
  color: aliceblue;
}

#loginSignupForms{
  /* opacity: 50%; */
  margin-top: 5%;
  color: aliceblue;
}

#register-button{
  opacity: 85%;
  color: aliceblue;
}