.app{
  /* margin: 5vh;
  margin-bottom: 20vh; */
}

#header{
  color: black;
  /* font-weight: bolder; */
  /* margin-bottom: 1px; */
}

#verify-section{
    margin-top: 7%;
    margin-bottom: 47vh;
}
#login-form{
  margin-top: 5%;
  margin-left: 32vw;
  /* color: aliceblue; */
  color: white;
}

#login-button{
  background-color: black !important;
}

#login-toggle{
    margin-left: 7vw;
}

.login-signup-toggle{ 
  /* text-align: center; */ 
    /* opacity: 50%; */
    color:white;
    background-color: rgba(57, 76, 94, 0.15)
}

#signup-form{
  margin-top: 5%;
  margin-left: 32vw;
  color: aliceblue;
}

#welcome-section{
  
  border: solid 1px;
  padding: 1%;
  margin-bottom: 0.5%;
  margin-top: 1%;
}

#savingSection{
  padding: 1%;
  border: solid 1px;
  margin-bottom: 14vh;
  /* margin-top:h; */
}
.modals.dimmer .ui.scrolling.modal {
  margin: 11rem auto !important;
  margin-left: 20vw !important;
  /* height: 30% !important; */
}


/* transactions buttons  */
.ui.black.button {
  -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  padding: 1vh !important; 
  font-weight: bolder !important;
}


.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
  position: relative;
  padding-left: 4.07142857em!important;
  padding-right: 1.5em!important;
  background-color: black !important;
  color: white !important;
  
}

/* Clock  */
#news-card{
  /* height: 5% !important; */
  margin-bottom: 5vh !important;
  /* height: 45vh; */
  padding: 1% !important; 
  /* box-shadow: 5px 10px black; */
}

.news-card img{
  height: 220px;
  width: 270px;
  margin-bottom: 7px;
}
.news-card p{
  /* color: white; */
  font-size: 16px;
}

#newsCardContainer{
  margin-bottom: 0%; 
  /* background-image: url('https://images.unsplash.com/photo-1553387789-2b36a3f5de14?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80'); */
  background-color: rgba(245, 245, 245, 0.959);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  background-repeat: 1;
}

.app{
  /* margin: 5vh; */
  /* background-color: black; */
}

#checkingTransContainer{
        height: 70vh;
        overflow-y: scroll;
        margin-top: 2%;
       
  }

#amount{
    
}

#secondlogo{
  height: 80px;
  width: 20px;
  position: absolute;
  margin-left: 65vh;
}

#labels{
  position: fixed;
}

#singleCheckingTrans{
  border: solid 1px ;
  background-color: #F0FFFF;
  padding: 1%;
}

#checkingSection{
  border: solid 1px;
  padding: 1%;
  margin-top: 2vh;
  margin-bottom: -3.3vh;
}

#home-wrapper{
      /* background: url('./Components/mod5backgroundImgs/photo-1487715433499-93acdc0bd7c3.jpeg'); */
      /* background-repeat: no-repeat;
      background-size:cover; */

}


#instant-transfer{

    /* margin-top: 5%; */
    margin-top: -2vh;
    margin-bottom: -1.7vh;
    /* background-image: url('https://media.istockphoto.com/photos/texture-dark-concrete-floor-picture-id621925576?k=6&m=621925576&s=612x612&w=0&h=H4rph08J2vSJz_crupTLvHf5OKW0olvoRJzaAK37Yhg='); */
    background-image: url('./image/instantimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
}

#instant-transfer-header{
    font-size: bolder;
    text-align: center;
    /* color: white; */
    color: red;
    /* margin-top: 5%; */
    margin: 5%;
}
#mainFooter{
  /* position: fixed; */
  width: 100%; 
}


#home-wrapper{
  background-image: url('./image/homepagepic.jpg');
  background-size: 100%; 
  height: 95vh;
  background-size: cover;
  background-position: center center;
  background-repeat: 1;


}

.chart{
  margin-top: 12vh;
}
#title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 230%;
  font-weight: bolder;
  margin-right: 38%;
  text-align: center;
  color: aliceblue;
  
}

#loginSignupForms{
  /* opacity: 50%; */
  margin-top: 5%;
  color: aliceblue;
}

#register-button{
  opacity: 85%;
  color: aliceblue;
}

#checking-trans-page{
   
}


#checkingTransPagee{
    margin-top: 13vh;
    margin-left: 5%;
}

#personalInfo{
    margin-left: 5%;
    margin-bottom: 46vh;
}

#profile-height{
  height: 82vh;
}

#internal_transfer{
  margin: 5%;
  margin-top: 10vh;
  margin-bottom: 60vh;
  font-weight: bolder;
}

.internal_text{
    /* to override semantic class css  */
    font-size: 20px !important;
}

.chart-container{
  margin-top: 10vh;
  margin-bottom: 26vh;
  padding: 5%;
  /* font-size: 130%; */
}

.signin-instructions{
    color: white;
    font-weight: bolder;
}

#username-instructions{
  color: white;

}

.news-title{
  /* color: white; */
  font-weight: bolder;
  padding: 3%;
  text-align: center;

}
